In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

In [2]:
df=pd.read_csv("general_data.csv")

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df.dropna()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [7]:
df['Attrition'].replace(to_replace=("Yes","No"),value=(0,1),inplace=True)

# Correlation between Attrition and DistanceFromHome

In [8]:
stats,p=pearsonr(df.Attrition,df.DistanceFromHome)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

0.009730141010179666 0.5182860428050771
accept Null hypothesis

 # Correlation between Attrition and Age

In [10]:
stats,p=pearsonr(df.Attrition,df.Age)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

-0.1592050068657796 1.996801615887198e-26
reject  NULL hypothesis

 # Correlation between Attrition and BusinessTravel

In [11]:
df['BusinessTravel'].replace(to_replace=("Non-Travel","Travel_Rarely","Travel_Frequently"),value=(0,1,2),inplace=True)

In [12]:
stats,p=pearsonr(df.Attrition,df.BusinessTravel)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

0.1270064831524362 2.536639653019909e-17
reject  NULL hypothesis

 # Correlation between Attrition and Education

In [13]:
stats,p=pearsonr(df.Attrition,df.Education)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

-0.015111167710968782 0.3157293177118575
accept Null hypothesis

# Correlation between Attrition and Gender

In [14]:
df['Gender'].replace(to_replace=("Female","Male"),value=(0,1),inplace=True)

In [15]:
stats,p=pearsonr(df.Attrition,df.Gender)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

0.018125078877010273 0.22881970951790567
accept Null hypothesis

 # Correlation between Attrition and Joblevel

In [16]:
stats,p=pearsonr(df.Attrition,df.JobLevel)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

-0.010289713287495046 0.49451717271828405
accept Null hypothesis

# Correlation between Attrition and Monthlyincome

In [18]:
stats,p=pearsonr(df.Attrition,df.MonthlyIncome)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

-0.031176281698115003 0.03842748490600132
reject  NULL hypothesis

 # Correlation Between Attrition and TrainingTimesLastYear

In [19]:
stat, p = pearsonr(df.Attrition, df.TrainingTimesLastYear)
print(stat, p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

-0.04943057624425504 0.0010247061915362814
reject  NULL hypothesis

# Correlation Between Attrition and Percent Salary Hike

In [20]:
stats,p=pearsonr(df.Attrition,df.PercentSalaryHike)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

0.03253259489105348 0.030743386433355353
reject  NULL hypothesis

 # Correlation Between Attrition and YearsAtCompany

In [22]:
stats,p=pearsonr(df.Attrition,df.YearsAtCompany)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

-0.1343922139899772 3.1638831224877484e-19
reject  NULL hypothesis

# Correlation Between Attrition and StockOptionLevel

In [24]:
stats,p=pearsonr(df.Attrition,df.StockOptionLevel)
print(stats,p)
if p<0.05:
    print("reject  NULL hypothesis \n")
else:
    print("accept Null hypothesis")

-0.006838852403261505 0.6498072937475723
accept Null hypothesis

In [23]:
df.corr()

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EmployeeCount,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,-0.011807,0.006963,-0.035706,NaN,0.008649,-0.039352,-0.002884,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.127006,-0.009730,-0.015111,NaN,-0.004729,0.018125,-0.010290,-0.031176,0.042345,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,-0.011807,0.127006,1.000000,0.014130,0.007567,NaN,-0.003737,-0.021404,0.013727,-0.055905,-0.030598,-0.025727,NaN,0.004770,0.008324,-0.043173,0.005212,0.005222,-0.000229
DistanceFromHome,0.006963,-0.009730,0.014130,1.000000,-0.008638,NaN,-0.001097,-0.044173,-0.037329,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.007567,-0.008638,1.000000,NaN,-0.009680,-0.016547,0.045746,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.004729,-0.003737,-0.001097,-0.009680,NaN,1.000000,-0.013165,-0.003303,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
Gender,-0.039352,0.018125,-0.021404,-0.044173,-0.016547,NaN,-0.013165,1.000000,-0.026854,0.007530,-0.066924,0.011841,NaN,0.019237,-0.027598,-0.030167,-0.017277,-0.021812,0.004438
JobLevel,-0.002884,-0.010290,0.013727,-0.037329,0.045746,NaN,-0.003303,-0.026854,1.000000,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
MonthlyIncome,-0.044314,-0.031176,-0.055905,-0.021607,0.006410,NaN,0.007338,0.007530,0.047316,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,0.042345,-0.030598,-0.013843,-0.016250,NaN,-0.001117,-0.066924,-0.009875,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.032533,-0.025727,0.038125,-0.040531,NaN,-0.004456,0.011841,0.010973,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,-0.006839,0.004770,0.011169,0.001261,NaN,-0.014254,0.019237,0.000993,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,-0.170338,0.008324,0.009374,-0.010717,NaN,-0.001063,-0.027598,-0.036957,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.049431,-0.043173,-0.009001,0.010472,NaN,-0.010191,-0.030167,-0.032500,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,0.005212,0.031684,0.006080,NaN,0.004086,-0.017277,-0.064219,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,0.005222,0.002290,0.022490,NaN,0.000256,-0.021812,-0.060811,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.000229,0.021584,0.005358,NaN,0.008579,0.004438,-0.055251,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000